
body {
}

/* Start of V.C - C.C Logos */
#right-logo {
  display: inline-block;
  margin: 15px; /* margin: 20px was off */
  float: left;
  height: 80px;
  width: auto; /* correct proportions to specified height */
        }
#left-logo {
  display: inline-block;
  margin: 15px; /* margin: 20px was off */
  float: right;
  height: 80px;
  width: auto; /* correct proportions to specified height */      
}
/* EMD of V.C - C.C Logos */

/* Start of Dropdown Menu */
.dropbtn {
  background-color: #3498DB;
  font-family:courier,arial,helvetica;"
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 242px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
/* End of of Dropdown Menu @ RateProgram */


/* Start of Staff Cards @ each program page */
/* Start of Staff Cards @ each program page */
.navbar 
 {
 background-color:#262626;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
 }
.card-text{
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 8px; 
  font-family: Helvetica, Tahoma, sans-serif;

}
.card-title{
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 100px;
        }
        .aligned { 
            display: flex; 
            align-items: center;

        } 
           
        span {
            padding: 10px;
            font-size: 100%;
            display: block;
            font-family:courier,arial,helvetica;"
        } 
.card-img-top {
  width: 100px;
  height: 100px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 8px;
    
}
.CardContainer {
        display: flex;
        align-items: center;
        justify-content: center
}
img {
    max-width: 100%
        
}
.image {
    flex-basis: 40%
} 
.text {
    padding-left: 6px;
}
/* Start of Staff Cards @ each program page */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar 
 {
 background-color:#262626;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
 }
p {
  font-family:courier,arial,helvetica;"
    text-align: left;
    padding-left: 15px;
}
intMenu {
  font-family:courier,arial,helvetica;"
    text-align: left;
    padding-left: 15px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}


.btn {
  color: white;
  padding: 17px;
  font-size: 25px;
  font-family:courier,arial,helvetica;"
  border: none;
  cursor: pointer;
}

.btn2 {
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-size: 30px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containerBox= {
  border-radius: 5px;
  padding: 20px;
}